*{
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
}

/* ############## Header ############## */

header{
    width: 100%;
    float: left;
    background-color: black;
    border-bottom: 1px solid rgb(102, 102, 102);
}

header img {
    width: 4%;
    margin: 1%;
    float: left;
    background-color: white;
    border-radius: 50%;
}

header h2{
    float: left;
    color: white;
    margin-top: 0.5%;
    font-size: 4vw;
}

header nav ul{
    margin-top: 2.5%;
    margin-left: 2%;
    width: 30%;
    float: left;
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    list-style: none;
    float: left;
    font-size: 1.2vw;
    color: white;
}

header nav section {
    float: right;
    width: 15%;
    margin-top: 2%;
    align-items: center;
    margin-right: 3.7%;
}

.registrarse p{
    color: white;
    font-size: 1.2vw;
}

.iniciar-sesion p {
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    border-radius: 3px;
    padding: 7%;
    background-color: rgb(255, 255, 255);
}

.registrarse{
    float: left;
    margin-top: 3%;
}

.iniciar-sesion {
    float: right;
    width: 53%;
}

/* ############## Main ############## */

.guitarraPrincipal{
    margin-top: 8%;
    float: left;
    width: 35%;

}

/* -- descripcion general -- */

.DescripcionGeneral{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-bottom: 1%;
}

.DescripcionGeneral div{
    width: 85%;
    margin-left: 5%;
    margin-top: 15%;
    background-color: black;
} 

.DescripcionGeneral div h1{
    color: white;
    font-size: 7vw; 
    margin-left: 35%;
} 

.DescripcionGeneral div p{
    color: white;
    margin-left: 35%;
    font-size: 1vw;
    margin-bottom: 1%;
}

.DescripcionGeneral div .Subtitulo{
    margin-bottom: 1%;
    font-size: 1.7vw;
} 

/* -- punteo rápido -- */

.PunteoRapido{
    width: 100%;
    height: 100vh;
    background-color: rgb(244 238 213);
    padding-bottom: 1%;
}

.PunteoRapido div{
    border-color: crimson;
    border-width: 2px;
    border-style: solid;
    float: left;
    width: 17.3%;
    margin-top: 14%;
    padding: 2%;
    height: 36%;
}

.imagenPunteoRapido{
    width: 45%;
    float: left;
    margin-left: 26%;
    aspect-ratio: 9 / 9;
    border-radius: 50%;
    margin-bottom: 16%;
}

.PunteoRapido div p{
    clear: both;
    font-size: 1vw;
}