*{
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
}

header{
    width: 100%;
    float: left;
    background-color: black;
    border-bottom: 1px solid rgb(102, 102, 102);
}

header img {
    width: 5%;
    margin: 2%;
    float: left;
    background-color: white;
    border-radius: 50%;
}

header h2{
    float: left;
    color: white;
    margin-top: 1.4%;
    font-size: 5vw;
}

header nav ul{
    margin-top: 4%;
    margin-left: 2%;
    width: 34%;
    float: left;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-right: 7%;
    font-size: 1.2vw;
    color: white;
}

header nav section{
    float: right;
}

.registrarse{
    color: white;
    float: left;
    margin-top: 32%;
    font-size: 1.2vw;
}

header nav section div{
    float: left;
}

.iniciar-sesion{
    color: white;
    margin-top: 59%;
    font-size: 1.2vw;
}

/* Main */

main .DescripcionGeneral{
    width: 100%;
    height: 1400px;
    background-color: black;
    padding-bottom: 1%;
}

main img{
    margin-top: 8%;
    float: left;
}

main .DescripcionGeneral div{
    width: 85%;
    margin-left: 5%;
    margin-top: 20%;
    background-color: black;
} 

main .DescripcionGeneral div h1{
    color: white;
    font-size: 7vw; 
    margin-left: 35%;
} 

main .DescripcionGeneral div p{
    color: white;
    margin-left: 35%;
    font-size: 1vw;
}

main .DescripcionGeneral div .Descripcion{

} 

main .DescripcionGeneral div .Subtitulo{
    margin-bottom: 1%;
} 